/* Color definitions */
* {
    -color-base: #ffffff;
    -color-border: #cccece;
    -color-highlight-bg: #f6f6f6;
    -color-highlight: #b1e1f1;

    -fx-base: -color-base;
}

/* Control elements */
.control {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-pref-width: 28px;
    -fx-pref-height: 28px;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.control:hover {
    -fx-background-color: #d7d6d6;
}

.control:pressed {
    -fx-background-color: #e4e6e8;
}

/* Tool bar */
.tool-bar {
    -fx-background-color: -color-highlight-bg;
}

#openFileButton {
    -fx-background-image: url('../icons/folder-open.png');
}

#saveFileButton {
    -fx-background-image: url('../icons/save.png');
}

#printCodeButton {
    -fx-background-image: url('../icons/file-code.png');
}

#formatterComboBox {
    -fx-min-width: 130px;
}

#formatButton {
    -fx-background-image: url('../icons/eye.png');
}

#undoButton {
    -fx-background-image: url('../icons/arrow-go-back.png');
}

#redoButton {
    -fx-background-image: url('../icons/arrow-go-forward.png');
}

#solverComboBox {
    -fx-min-width: 130px;
}

.combo-box {
    -fx-border-color: -color-border;
}

#solverButton {
    -fx-background-image: url('../icons/start.png');
}

/* Scroll bar */
.scroll-bar {
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-color: -color-border;
}

.scroll-bar .thumb {
    -fx-background-color: -color-border;
}

.scroll-bar .thumb:hover {
    -fx-background-color: -color-border;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: -color-border;
}

.scroll-bar .decrement-arrow {
    -fx-background-color: -color-border;
}

.scroll-bar .increment-arrow {
    -fx-background-color: -color-border;
}

/* Tooltips */
.tooltip {
    -fx-background-color: -color-highlight-bg;
    -fx-border-color: -color-border;
    -fx-border-radius: 2px;
    -fx-text-fill: black;
    -fx-background-radius: 2px;
    -fx-effect: none;
    -fx-graphic-text-gap: 20px;
}