@font-face {
    font-family: 'FreeMono';
    src: url('../fonts/FreeMono.ttf');
}

#container {
    -fx-border-color: -color-border;
    -fx-border-radius: 2px;
}

#controls {
    -fx-padding: 2px;
    -fx-background-color: -color-highlight-bg;
}

#controls .button {
    -fx-max-width: 14px;
    -fx-max-height: 14px;
    -fx-min-width: 14px;
    -fx-min-height: 14px;
    -fx-background-size: cover;
}


#content {
    -fx-padding: 2px;
    -fx-font-family: "FreeMono";
    -fx-font-size: 18;
    -fx-spacing: 5px;
}

.menu-item {
    -fx-font-family: unset;
    -fx-font-size: 12px;
}