.GeneralExpression {
    -fx-text-fill: #838586;
}

.Reserved {
    -fx-text-fill: #0000d0;
}

.Constant {
    -fx-text-fill: #6897BB;
}

.Function {
    -fx-text-fill: #d0a353;
}

.Command {
    -fx-text-fill: #9a11b6;
}

.IfThenElse {
    -fx-text-fill: #b32323;
}